.insertion-sort-box-area {
  margin-top: 2.5%;
  text-align: center;
}

.comparison-sort-box-area {
  text-align: center;
}

.insertion-sort-box {
  display: inline-block;
  width: 9%;
  height: 100px;
  line-height: 100px;
  color: white;
  margin: 1px;
  text-align: center;
  font-size: 20px;
}

.insertion-box-wrapper {
  width: 100%;
  text-align: center;
}

.insertion-box {
  display: inline-block;
  margin-top: 2.5%;
  width: 9%;
  height: 100px;
  line-height: 100px;
  color: white;
  text-align: center;
  font-size: 20px;
  background-color: red;
}

.insertion-unsorted {
  background-color: blue;
}

.insertion-sorted, .insertion-slide-right-slow, .insertion-slide-right-regular, .insertion-slide-right-fast {
  background-color: #00cc00;
}

.insertion-checking {
  background-color: orange;
}

.no-display {
  background: white;
  opacity: 0;
}

.insertion-slide-up-slow, .insertion-slide-up-regular,
.insertion-slide-up-fast {
  background-color: #00cc00;
}

.insertion-slide-right-slow.insertion-transition-enter {
  transform: translate(-100%, 0);
  -ms-transform: translate(-100%, 0%);
  -moz-transform: translate(-100%, 0%);
  -webkit-transform: translate(-100%, 0%);
  -o-transform: translate(-100%, 0%);
  background-color: orange;
  transition: all 1.0s;
}

.insertion-slide-right-slow.insertion-transition-enter-active {
  transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -moz-transform: translate(0, 0);
  -webkit-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  background-color: #00cc00;
}

.insertion-slide-right-regular.insertion-transition-enter {
  transform: translate(-100%, 0);
  -ms-transform: translate(-100%, 0%);
  -moz-transform: translate(-100%, 0%);
  -webkit-transform: translate(-100%, 0%);
  -o-transform: translate(-100%, 0%);
  background-color: orange;
  transition: all 0.5s;
}

.insertion-slide-right-regular.insertion-transition-enter-active {
  transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -moz-transform: translate(0, 0);
  -webkit-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  background-color: #00cc00;
}

.insertion-slide-right-fast.insertion-transition-enter {
  transform: translate(-100%, 0);
  -ms-transform: translate(-100%, 0%);
  -moz-transform: translate(-100%, 0%);
  -webkit-transform: translate(-100%, 0%);
  -o-transform: translate(-100%, 0%);
  background-color: orange;
  transition: all 0.25s;
}

.insertion-slide-right-fast.insertion-transition-enter-active {
  transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -moz-transform: translate(0, 0);
  -webkit-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  background-color: #00cc00;
}

.insertion-slide-up-slow.insertion-transition-enter {
  transform: translate(0, 150%);
  -ms-transform: translate(0, 150%);
  -moz-transform: translate(0, 150%);
  -webkit-transform: translate(0, 150%);
  -o-transform: translate(0, 150%);
  background-color: red;
  transition: all 1.0s;
}

.insertion-slide-up-slow.insertion-transition-enter-active {
  transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -moz-transform: translate(0, 0);
  -webkit-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  background-color: #00cc00;
}

.insertion-slide-up-regular.insertion-transition-enter {
  transform: translate(0, 150%);
  -ms-transform: translate(0, 150%);
  -moz-transform: translate(0, 150%);
  -webkit-transform: translate(0, 150%);
  -o-transform: translate(0, 150%);
  background-color: red;
  transition: all 0.5s;
}

.insertion-slide-up-regular.insertion-transition-enter-active {
  transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -moz-transform: translate(0, 0);
  -webkit-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  background-color: #00cc00;
}

.insertion-slide-up-fast.insertion-transition-enter {
  transform: translate(0, 150%);
  -ms-transform: translate(0, 150%);
  -moz-transform: translate(0, 150%);
  -webkit-transform: translate(0, 150%);
  -o-transform: translate(0, 150%);
  background-color: red;
  transition: all 0.25s;
}

.insertion-slide-up-fast.insertion-transition-enter-active {
  transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -moz-transform: translate(0, 0);
  -webkit-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  background-color: #00cc00;
}

.no-display.insertion-compare-enter, .no-display.insertion-compare-enter-active {
  background-color: white;
  opacity: 0;
}

.slide-down-slow.insertion-compare-enter {
  transform: translate(0, -150%);
  -ms-transform: translate(0, -150%);
  -moz-transform: translate(0, -150%);
  -webkit-transform: translate(0, -150%);
  -o-transform: translate(0, -150%);
  background-color: red;
  transition: all 1.0s;
}

.slide-down-slow.insertion-compare-enter-active {
  transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -moz-transform: translate(0, 0);
  -webkit-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  background-color: red;
}

.slide-down-regular.insertion-compare-enter {
  transform: translate(0, -150%);
  -ms-transform: translate(0, -150%);
  -moz-transform: translate(0, -150%);
  -webkit-transform: translate(0, -150%);
  -o-transform: translate(0, -150%);
  background-color: red;
  transition: all 0.5s;
}

.slide-down-regular.insertion-compare-enter-active {
  transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -moz-transform: translate(0, 0);
  -webkit-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  background-color: red;
}

.slide-down-fast.insertion-compare-enter {
  transform: translate(0, -150%);
  -ms-transform: translate(0, -150%);
  -moz-transform: translate(0, -150%);
  -webkit-transform: translate(0, -150%);
  -o-transform: translate(0, -150%);
  background-color: red;
  transition: all 0.25s;
}

.slide-down-fast.insertion-compare-enter-active {
  transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -moz-transform: translate(0, 0);
  -webkit-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  background-color: red;
}

.slide-left-slow.insertion-compare-enter {
  transform: translate(100%, 0);
  -ms-transform: translate(100%, 0);
  -moz-transform: translate(100%, 0);
  -webkit-transform: translate(100%, 0);
  -o-transform: translate(100%, 0);
  background-color: red;
  transition: all 1.0s;
}

.slide-left-slow.insertion-compare-enter-active {
  transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -moz-transform: translate(0, 0);
  -webkit-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  background-color: red;
}

.slide-left-regular.insertion-compare-enter {
  transform: translate(100%, 0);
  -ms-transform: translate(100%, 0);
  -moz-transform: translate(100%, 0);
  -webkit-transform: translate(100%, 0);
  -o-transform: translate(100%, 0);
  background-color: red;
  transition: all 0.5s;
}

.slide-left-regular.insertion-compare-enter-active {
  transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -moz-transform: translate(0, 0);
  -webkit-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  background-color: red;
}

.slide-left-fast.insertion-compare-enter {
  transform: translate(100%, 0);
  -ms-transform: translate(100%, 0);
  -moz-transform: translate(100%, 0);
  -webkit-transform: translate(100%, 0);
  -o-transform: translate(100%, 0);
  background-color: red;
  transition: all 0.25s;
}

.slide-left-fast.insertion-compare-enter-active {
  transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -moz-transform: translate(0, 0);
  -webkit-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  background-color: red;
}
