.selection-sort-box-area {
  height: 25%;
  margin-top: 2.5%;
  text-align: center;
}

.selection-label-area {
  text-align: center;
  padding: 0;
}

.selection-label-hidden {
  visibility: hidden;
}

.selection-unsorted {
  background-color: blue;
}

.selection-sorted {
  background-color: #00cc00;
}

.selection-current-low {
  background-color: orange;
}

.selection-checking {
  background-color: red;
}

.selection-sorted-swapped {
  background-color: #00cc00;
}

.selection-unsorted-swapped {
  background-color: blue;
}

.right-0, .left-0 {
  transform: translate(0,0);
  -ms-transform: translate(0, 0);
  -moz-transform: translate(0, 0);
  -webkit-transform: translate(0, 0);
  -o-transform: translate(0, 0);
}

.right-1 {
  transform: translate(100%,150%);
  -ms-transform: translate(100%,150%);
  -moz-transform: translate(100%,150%);
  -webkit-transform: translate(100%,150%);
  -o-transform: translate(100%,150%);
}

.left-1 {
  transform: translate(-100%,150%);
  -ms-transform: translate(-100%,150%);
  -moz-transform: translate(-100%,150%);
  -webkit-transform: translate(-100%,150%);
  -o-transform: translate(-100%,150%);
}

.right-2 {
  transform: translate(200%,150%);
  -ms-transform: translate(200%,150%);
  -moz-transform: translate(200%,150%);
  -webkit-transform: translate(200%,150%);
  -o-transform: translate(200%,150%);
}

.left-2 {
  transform: translate(-200%,150%);
  -ms-transform: translate(-200%,150%);
  -moz-transform: translate(-200%,150%);
  -webkit-transform: translate(-200%,150%);
  -o-transform: translate(-200%,150%);
}

.right-3 {
  transform: translate(300%,150%);
  -ms-transform: translate(300%,150%);
  -moz-transform: translate(300%,150%);
  -webkit-transform: translate(300%,150%);
  -o-transform: translate(300%,150%);
}

.left-3 {
  transform: translate(-300%,150%);
  -ms-transform: translate(-300%,150%);
  -moz-transform: translate(-300%,150%);
  -webkit-transform: translate(-300%,150%);
  -o-transform: translate(-300%,150%);
}

.right-4 {
  transform: translate(400%,150%);
  -ms-transform: translate(400%,150%);
  -moz-transform: translate(400%,150%);
  -webkit-transform: translate(400%,150%);
  -o-transform: translate(400%,150%);
}

.left-4 {
  transform: translate(-400%,150%);
  -ms-transform: translate(-400%,150%);
  -moz-transform: translate(-400%,150%);
  -webkit-transform: translate(-400%,150%);
  -o-transform: translate(-400%,150%);
}

.right-5 {
  transform: translate(500%,150%);
  -ms-transform: translate(500%,150%);
  -moz-transform: translate(500%,150%);
  -webkit-transform: translate(500%,150%);
  -o-transform: translate(500%,150%);
}

.left-5 {
  transform: translate(-500%,150%);
  -ms-transform: translate(-500%,150%);
  -moz-transform: translate(-500%,150%);
  -webkit-transform: translate(-500%,150%);
  -o-transform: translate(-500%,150%);
}

.right-6 {
  transform: translate(600%,150%);
  -ms-transform: translate(600%,150%);
  -moz-transform: translate(600%,150%);
  -webkit-transform: translate(600%,150%);
  -o-transform: translate(600%,150%);
}

.left-6 {
  transform: translate(-600%,150%);
  -ms-transform: translate(-600%,150%);
  -moz-transform: translate(-600%,150%);
  -webkit-transform: translate(-600%,150%);
  -o-transform: translate(-600%,150%);
}

.right-7 {
  transform: translate(700%,150%);
  -ms-transform: translate(700%,150%);
  -moz-transform: translate(700%,150%);
  -webkit-transform: translate(700%,150%);
  -o-transform: translate(700%,150%);
}

.left-7 {
  transform: translate(-700%,150%);
  -ms-transform: translate(-700%,150%);
  -moz-transform: translate(-700%,150%);
  -webkit-transform: translate(-700%,150%);
  -o-transform: translate(-700%,150%);
}

.right-8 {
  transform: translate(800%,150%);
  -ms-transform: translate(800%,150%);
  -moz-transform: translate(800%,150%);
  -webkit-transform: translate(800%,150%);
  -o-transform: translate(800%,150%);
}

.left-8 {
  transform: translate(-800%,150%);
  -ms-transform: translate(-800%,150%);
  -moz-transform: translate(-800%,150%);
  -webkit-transform: translate(-800%,150%);
  -o-transform: translate(-800%,150%);
}

.right-9 {
  transform: translate(900%,150%);
  -ms-transform: translate(900%,150%);
  -moz-transform: translate(900%,150%);
  -webkit-transform: translate(900%,150%);
  -o-transform: translate(900%,150%);
}

.left-9 {
  transform: translate(-900%,150%);
  -ms-transform: translate(-900%,150%);
  -moz-transform: translate(-900%,150%);
  -webkit-transform: translate(-900%,150%);
  -o-transform: translate(-900%,150%);
}

.right-10 {
  transform: translate(1000%,150%);
  -ms-transform: translate(1000%,150%);
  -moz-transform: translate(1000%,150%);
  -webkit-transform: translate(1000%,150%);
  -o-transform: translate(1000%,150%);
}

.left-10 {
  transform: translate(-1000%,150%);
  -ms-transform: translate(-1000%,150%);
  -moz-transform: translate(-1000%,150%);
  -webkit-transform: translate(-1000%,150%);
  -o-transform: translate(-1000%,150%);
}

.slow.selection-transition-enter {
  transition: all 1.0s ease-in;
}

.regular.selection-transition-enter {
  transition: all 0.5s ease-in;
}

.fast.selection-transition-enter {
  transition: all 0.25s ease-in;
}

.selection-sorted-swapped.selection-transition-enter {
  background-color: #00cc00;
}

.selection-sorted-swapped.selection-transition-enter-active, .selection-unsorted-swapped.selection-transition-enter-active, .selection-low-swapped.selection-transition-enter-active, .selection-checking-swapped.selection-transition-enter-active {
  transform: translate(0,0);
  -ms-transform: translate(0, 0);
  -moz-transform: translate(0, 0);
  -webkit-transform: translate(0, 0);
  -o-transform: translate(0, 0);
}

.selection-sorted-swapped.selection-transition-enter-active {
  background-color: #00cc00;
}

.selection-unsorted-swapped.selection-transition-enter {
  background-color: blue;
}

.selection-unsorted-swapped.selection-transition-enter-active {
  background-color: blue;
}

.selection-low-swapped.selection-transition-enter {
  background-color: orange;
}

.selection-low-swapped.selection-transition-enter-active {
  background-color: orange;
}

.selection-checking-swapped.selection-transition-enter {
  background-color: red;
}

.selection-checking-swapped.selection-transition-enter-active {
  background-color: red;
}
