body {
  background-color: #f9f9f9 ;
  font-family: 'Trirong', serif;
}

.home {
  margin: 0;
  padding: 0;
}

#home-header {
  text-align: center;
  margin-bottom: 5px;
}

.link {
  text-decoration: none;
  color: inherit;
}

#home-description {
  text-align: center;
  margin-bottom: 30px;
  margin-top: 0px;
}

#algo-boxes {
  text-align: center;
}

.algo-item {
  width: 550px;
  height: 400px;
  overflow: hidden;
  display: inline-block;
}

.algo-img {
  width: 90%;
  height: 90%;
}

.grid-section {
  position: relative;
  float: right;
  width: 70%;
  height: 100vh;
}

button:hover {
  cursor: pointer;
}
