body {
  background-color: #f9f9f9 ;
  font-family: 'Trirong', serif;
}

.no-float {
  float: none;
}

.container-fluid {
  height: 100%;
}

.navbar-row {
  height: 7%;
}

.sort-algo-row {
  height: 70%;
}

.search-algo-row{
  height: 90%;
}

.search-area {
  height: 50%;
}

.sort-section {
  height: 50%;
  padding: 0;
}

.sort-algo-section {
  padding: 0;
}

.grid-section {
  margin-top: 2%;
}

.home {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

#header-section {
  text-align: center;
}

#home-header {
  font-size: 3em;
}

#home-description, .algo-header {
  font-size: 1.75em;
}

.link {
  text-decoration: none;
  color: inherit;
}


#algo-boxes {
  text-align: center;
}

.algo-item {
  /*width: 25em;
  height: 18em;*/
  /*height: 50%;*/
  overflow: hidden;
  display: inline-block;
}

.search-img, .sort-img {
  width: 45em;
  height: 30em;
}

button:hover {
  cursor: pointer;
}

.sort-box {
  display: inline-block;
  height: 100%;
  width: 9.5%;
  color: white;
  margin: 0.1%;
  text-align: center;
  font-size: 20px;
  padding: 0;
}

/* Center number within box vertically */
.sort-box:before {
  content: "";
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.label-box {
  display: inline-block;
  width: 9.5%;
  color: black;
  margin: 0.1%;
  text-align: center;
  font-size: 20px;
  padding: 0;
}

@media screen and (max-width: 1450px) {
  .search-img, .sort-img {
    width: 40em;
    height: 26.67em;
  }
  #home-header {
    font-size: 2.75em;
  }

  #home-description, .algo-header {
    font-size: 1.7em;
  }
}

@media screen and (max-width: 1199px) {
  .navbar-row {
    height: 8%;
  }
  .sort-section {
    height: 37.75%;
    margin-top: 5%;
  }
  .sort-box, .label-box {
    font-size: 14px;
  }
  .search-img, .sort-img {
    width: 35em;
    height: 23.33em;
  }
  #home-header {
    font-size: 2.6em;
  }

  #home-description, .algo-header {
    font-size: 1.5em;
  }
}

@media screen and (max-width: 1100px) {
  .search-img, .sort-img {
    width: 30em;
    height: 20em;
  }
  #home-header {
    font-size: 2.5em;
  }

  #home-description, .algo-header {
    font-size: 1.35em;
  }
}

@media screen and (max-width: 950px) {
  .search-img, .sort-img {
    width: 24em;
    height: 16em;
  }
  #home-header {
    font-size: 2.25em;
  }

  #home-description, .algo-header {
    font-size: 1.25em;
  }
}

@media screen and (max-width: 775px) {
  .navbar-row {
    height: 7%;
  }
  .sort-section {
    height: 28%;
  }
  .sort-box, .label-box {
    font-size: 12px;
  }
  #home-header {
    font-size: 2.0em;
  }

  #home-description, .algo-header {
    font-size: 0.95em;
  }
}

@media screen and (max-width: 575px) {
  .sort-section {
    height: 22.5%;
    margin-top: 10.0%;
  }
  .sort-box, .label-box {
    font-size: 10px;
  }
}

@media screen and (max-width: 500px) {
  .sort-box, .label-box {
    font-size: 9px;
  }
}

@media screen and (max-width: 400px) {
  .sort-section {
    height: 17.5%;
  }
  .sort-box, .label-box {
    font-size: 8px;
  }
  .search-img, .sort-img {
    width: 18em;
    height: 12em;
  }
}
