.grid-section {
  height: 100%;
  position: relative;
  float: right;
}

button:hover {
  cursor: pointer;
}

.grid-container {
  overflow: auto;
  height: 100%;
  background-color: white;
  margin-top: 1%;
  padding: 1%;
  border: 2px solid #d9d9d9;
}

.grid {
  display: inline-block;
  text-align: center;
  height: 80%;
  padding: 0;
}

.grid-item {
  display: inline-block;
  width: 6.4%;
  height: 6.4%;
  color: white;
  margin: 0.1%;
  text-align: center;
  font-size: 17px;
}

/* Center number within box vertically */
.grid-item:before {
  content: "";
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.in-remaining-elements {
  background-color: blue;
}

.not-in-remaining-elements {
  background-color: #d9d9d9;
}

.high-or-low-element {
  background-color: red;
}

.target-element {
  background-color: #00cc00;
}

.hidden-element {
  visibility: hidden;
}

@media screen and (max-width: 1199px) {
  .grid-item {
    font-size: 12px;
  }
}

@media screen and (max-width: 825px) {
  .grid-item {
    padding: 0;
    font-size: 11px;
  }
}

@media screen and (max-width: 768px) {
  .grid-item {
    font-size: 10px;
  }
  .grid-section {
    height: 75%;
  }
  .grid {
    height: 100%;
  }
  .search-area {
    height: 100%;
  }
}

@media screen and (max-width: 575px) {
  .grid-item {
    font-size: 9px;
  }
}

@media screen and (max-width: 500px) {
  .grid-item {
    font-size: 8px;
  }
}

@media screen and (max-width: 400px) {
  .grid-item {
    font-size: 7px;
  }
}
