.side-bar-section {
  position: relative;
  float: left;
  height: 100%;
  margin-top: 2%;
}

.algorithm-info {
  border: 2px solid #d9d9d9;
  background-color: white;
}

#algorithm-name {
  font-size: 25px;
  margin: 0px;
  padding-bottom: 2%;
  padding-left: 2%;
}

#description {
  margin: 1%;
  font-size: 16px;
  padding-left: 2%;
  padding-bottom: 2%;
}

.iteration-info-container {
  border: 2px solid #d9d9d9;
  background-color: white;
  font-size: 19px;
}

.iteration-info-item {
  margin: 0;
  padding: 2%;
  border-bottom: 1px solid #d9d9d9;
}

.iteration-info span {
  float: right;
}

.header {
  font-size: 30px;
}

.complexity-info-container {
  border: 2px solid #d9d9d9;
  background-color: white;
  font-size: 20px;
}

#complexity-title {
  margin: 0px;
  padding-bottom: 2px;
  padding-left: 2%;
}

.complexity-detail {
  padding-left: 2%;
  margin: 0;
  font-size: 19px;
}

.complexity-info span {
  float: right;
}

@media screen and (max-width: 1199px) {
  #algorithm-name {
    font-size: 20px;
  }
  #description {
    font-size: 14px
  }
  .iteration-info-container {
    font-size: 18px
  }
}

@media screen and (max-width: 875px) {
  #algorithm-name {
    font-size: 17px;
  }
  #description {
    font-size: 12px
  }
  .iteration-info-container {
    font-size: 15px
  }
}

@media screen and (max-width: 768px) {
  .side-bar-section {
    position: relative;
    height: 25%;
    margin-top: 2%;
  }
  .algorithm-info {
    height: 100%;
    padding-left: 2%;
    padding-right: 2%;
  }
  #algorithm-name {
    font-size: 16px;
    padding-left: 0.5%;
    padding-bottom: 0.5%;
  }
  #description {
    font-size: 11px;
    padding-left: 1%;
    padding-bottom: 1%;
  }
  .iteration-info-container {
    height: 100%;
    padding-left: 2%;
    padding-right: 2%;
    font-size: 11px;
  }
  .iteration-info:before {
    content: "";
    display: inline-block;
    height: 100%;
    vertical-align: middle;
  }
  .iteration-info-item {
    padding: 1%;
  }
}

@media screen and (max-width: 575px) {
  #algorithm-name {
    font-size: 13px;
  }
  #description {
    font-size: 10px
  }
  .iteration-info-container {
    font-size: 10px
  }
}

@media screen and (max-width: 475px) {
  #algorithm-name {
    font-size: 11px;
  }
  #description {
    font-size: 9px
  }
  .iteration-info-container {
    font-size: 9px
  }
}

@media screen and (max-width: 400px) {
  #algorithm-name {
    font-size: 8px;
  }
  #description {
    font-size: 7px;
  }
  .iteration-info-container {
    font-size: 8px
  }
}
