.sort-info-section {
  height: 35%;
}

.sort-algorithm-info {
  height: 90%;
  border: 2px solid #d9d9d9;
  margin-top: 0.5%;
  background-color: white;
}

.header {
  font-size: 30px;
}

#sort-algorithm-name, #complexity-title, #iterations-title {
  margin: 0px;
  padding-bottom: 2px;
  padding-left: 2%;
}

#sort-algorithm-description {
  margin: 2px;
  font-size: 18px;
  padding-left: 2%;
  padding-right: 2%;
}

.sort-algorithm-details {
  height: 90%;
  border: 2px solid #d9d9d9;
  margin-top: 0.5%;
  background-color: white;
}

.complexity-detail {
  padding-left: 2%;
  margin: 0;
  font-size: 19px;
}

.iterations-section {
  height: 90%;
  border: 2px solid #d9d9d9;
  margin-top: 0.5%;
  background-color: white;
  text-align: center;
}

#iterations {
  font-size: 55px;
  margin-top: 20px;
}

/* Media Queries */
@media screen and (max-width: 1525px) {
  #sort-algorithm-description {
    font-size: 15px;
  }
  .header {
    font-size: 23px;
  }
  .complexity-detail {
    font-size: 16px;
  }
  #iterations {
    font-size: 42px;
  }
}

@media screen and (max-width: 1320px) {
  #sort-algorithm-description {
    font-size: 16px;
  }
  .header {
    font-size: 21px;
  }
  .complexity-detail {
    font-size: 15px;
  }
  #iterations {
    font-size: 40px;
  }
}

@media screen and (max-width: 1255px) {
  #sort-algorithm-description {
    font-size: 15px;
  }
  .header {
    font-size: 20px;
  }
  .complexity-detail {
    font-size: 15px;
  }
  #iterations {
    font-size: 36px;
  }
}

@media screen and (max-width: 1199px) {
  .sort-info-section {
    height: 40%;
  }
  .sort-algorithm-info {
    height: auto;
  }
  .sort-algorithm-details, .iterations-section {
    height: 40%;
    margin-top: 5%;
  }
  #iterations {
    font-size: 40px;
    margin-top: 10px;
  }
}

@media screen and (max-width: 775px) {
  .sort-info-section {
    height: 35%;
  }
  #sort-algorithm-description {
    font-size: 13px;
  }
  .header {
    font-size: 18px;
  }
  .complexity-detail {
    font-size: 15px;
  }
  #iterations {
    font-size: 36px;
    margin-top: 10px;
  }
}

@media screen and (max-width: 575px) {
  .sort-info-section {
    height: 32.5%;
  }
  #sort-algorithm-description {
    font-size: 12px;
  }
  .header {
    font-size: 15px;
  }
  .complexity-detail {
    font-size: 13px;
  }
  #iterations {
    font-size: 30px;
    margin-top: 5px;
  }
}

@media screen and (max-width: 475px) {
  .sort-info-section {
    height: 40%;
  }
  .sort-algorithm-details, .iterations-section {
    height: 35%;
  }
  #sort-algorithm-description {
    font-size: 10px;
  }
  .header {
    font-size: 12px;
  }
  .complexity-detail {
    font-size: 10px;
  }
  #iterations {
    font-size: 24px;
  }
}

@media screen and (max-width: 350px) {
  .sort-info-section {
    height: 50%;
  }
}
