.merge-sort-box-area {
  margin-top: 1%;
  text-align: center;
}

.merge-sort-box-level-0, .merge-sort-box-level-1, .merge-sort-box-level-2, .merge-sort-box-level-3 {
  display: inline-block;
  height: 70px;
  line-height: 70px;
  color: white;
  margin: 1px;
  text-align: center;
  font-size: 15px;
}

.merge-sort-box-level-0 {
  width: 6%;
}

.merge-sort-box-level-1 {
  width: 17.14286%;
}

.merge-sort-box-level-2 {
  width: 40%;
}

.merge-sort-box-level-3 {
  width: 80%;
}

.merge-unsorted {
  background-color: blue;
}

.merge-sorted {
  background-color: #00cc00;
}

.merge-hidden {
  visibility: hidden;
}

.level-1-0 {
  float: left;
  width: 35%;
  margin-left: 15%;
  margin-top: 2%;
}

.level-1-1 {
  float: left;
  width: 35%;
  margin-right: 15%;
  margin-top: 2%;
}

.level-2-0 {
  float: left;
  width: 15%;
  margin-left: 17.5%;
  margin-top: 2%;
}

.level-2-1 {
  float: left;
  width: 15%;
  margin-left: 0%;
  margin-top: 2%;
}

.level-2-2 {
  float: left;
  width: 15%;
  margin-left: 5%;
  margin-top: 2%;
}

.level-2-3 {
  float: left;
  width: 15%;
  margin-left: 0%;
  margin-right: 10%;
  margin-top: 2%;
}

.level-3-0 {
  float: left;
  margin-top: 2%;
  width: 7.5%;
  margin-left: 17.5%;
}

.level-3-1 {
  float: left;
  margin-top: 2%;
  width: 7.5%;
  margin-left: 0%;
}

.level-3-2 {
  float: left;
  margin-top: 2%;
  width: 7.5%;
}

.level-3-3 {
  float: left;
  margin-top: 2%;
  width: 7.5%;
  margin-left: 0%;
}

.level-3-4 {
  float: left;
  margin-top: 2%;
  margin-left: 5%;
  width: 7.5%;
}

.level-3-5 {
  float: left;
  margin-top: 2%;
  width: 7.5%;
}

.level-3-6 {
  float: left;
  margin-top: 2%;
  width: 7.5%;
}

.level-3-7 {
  float: left;
  margin-top: 2%;
  width: 7.5%;
}
