.grid-section {
  position: relative;
  float: right;
  width: 70%;
  height: 100vh;
}

.buttons {
  background-color: white;
  width: 93%;
  padding-top: 1%;
  padding-bottom: 1%;
  margin: 0 auto;
  margin-top: 20px;
  border: 2px solid #d9d9d9;
}

.button-size {
  height: 40px;
  font-size: 15px;
  padding: 1%;
}

.linear-search-button, .binary-search-button {
  background-color: #0066ff;
  color: white;
  border-radius: 5px;
  margin-left: 10px;
  padding-top: 0px;
  padding-bottom: 0px;
}

.speed-buttons {
  float: right;
  margin-right: 10px;
}

.speed-button {
  background-color: white;
  width: 75px;
  border: 1px solid #d9d9d9;
}

.active-btn {
  background-color: green;
  color: white;
}
