.quick-sort-box-area {
  height: 25%;
  margin-top: 2.5%;
  text-align: center;
}

.quick-label-area {
  text-align: center;
  padding: 0;
}

.quick-label-hidden {
  visibility: hidden;
}

.quick-sorted, .left-swapped-prior-pivot, .right-swapped-prior-pivot, .right-swapped-sorted {
  background-color: #00cc00;
}

.quick-not-checking, .left-swapped-unsorted, .right-swapped-unsorted {
  background-color: grey;
}

.quick-unsorted {
  background-color: blue;
}

.quick-pivot, .right-swapped-pivot {
  background-color: black;
  border: 0.3em solid yellow;
}

.quick-checking {
  background-color: red;
}

.quick-high-side, .right-swapped-high {
  background-color: #800080;
}

.quick-low-side, .left-swapped-low {
  background-color: orange;
}

.slow.quick-transition-enter {
  transition: all 1.0s ease-in;
}

.regular.quick-transition-enter {
  transition: all 0.5s ease-in;
}

.fast.quick-transition-enter {
  transition: all 0.25s ease-in;
}

.quick-left-0, .quick-right-0 {
  transform: translate(0,0);
  -ms-transform: translate(0, 0);
  -moz-transform: translate(0, 0);
  -webkit-transform: translate(0, 0);
  -o-transform: translate(0, 0);
}

.quick-left-1.quick-transition-enter {
  transform: translate(100%,150%);
  -ms-transform: translate(100%,150%);
  -moz-transform: translate(100%,150%);
  -webkit-transform: translate(100%,150%);
  -o-transform: translate(100%,150%);
}

.quick-right-1.quick-transition-enter {
  transform: translate(-100%,150%);
  -ms-transform: translate(-100%,150%);
  -moz-transform: translate(-100%,150%);
  -webkit-transform: translate(-100%,150%);
  -o-transform: translate(-100%,150%);
}

.quick-left-2.quick-transition-enter {
  transform: translate(200%,150%);
  -ms-transform: translate(200%,150%);
  -moz-transform: translate(200%,150%);
  -webkit-transform: translate(200%,150%);
  -o-transform: translate(200%,150%);
}

.quick-right-2.quick-transition-enter {
  transform: translate(-200%,150%);
  -ms-transform: translate(-200%,150%);
  -moz-transform: translate(-200%,150%);
  -webkit-transform: translate(-200%,150%);
  -o-transform: translate(-200%,150%);
}

.quick-left-3.quick-transition-enter {
  transform: translate(300%,150%);
  -ms-transform: translate(300%,150%);
  -moz-transform: translate(300%,150%);
  -webkit-transform: translate(300%,150%);
  -o-transform: translate(300%,150%);
}

.quick-right-3.quick-transition-enter {
  transform: translate(-300%,150%);
  -ms-transform: translate(-300%,150%);
  -moz-transform: translate(-300%,150%);
  -webkit-transform: translate(-300%,150%);
  -o-transform: translate(-300%,150%);
}

.quick-left-4.quick-transition-enter {
  transform: translate(400%,150%);
  -ms-transform: translate(400%,150%);
  -moz-transform: translate(400%,150%);
  -webkit-transform: translate(400%,150%);
  -o-transform: translate(400%,150%);
}

.quick-right-4.quick-transition-enter {
  transform: translate(-400%,150%);
  -ms-transform: translate(-400%,150%);
  -moz-transform: translate(-400%,150%);
  -webkit-transform: translate(-400%,150%);
  -o-transform: translate(-400%,150%);
}

.quick-left-5.quick-transition-enter {
  transform: translate(500%,150%);
  -ms-transform: translate(500%,150%);
  -moz-transform: translate(500%,150%);
  -webkit-transform: translate(500%,150%);
  -o-transform: translate(500%,150%);
}

.quick-right-5.quick-transition-enter {
  transform: translate(-500%,150%);
  -ms-transform: translate(-500%,150%);
  -moz-transform: translate(-500%,150%);
  -webkit-transform: translate(-500%,150%);
  -o-transform: translate(-500%,150%);
}

.quick-left-6.quick-transition-enter {
  transform: translate(600%,150%);
  -ms-transform: translate(600%,150%);
  -moz-transform: translate(600%,150%);
  -webkit-transform: translate(600%,150%);
  -o-transform: translate(600%,150%);
}

.quick-right-6.quick-transition-enter {
  transform: translate(-600%,150%);
  -ms-transform: translate(-600%,150%);
  -moz-transform: translate(-600%,150%);
  -webkit-transform: translate(-600%,150%);
  -o-transform: translate(-600%,150%);
}

.quick-left-7.quick-transition-enter {
  transform: translate(700%,150%);
  -ms-transform: translate(700%,150%);
  -moz-transform: translate(700%,150%);
  -webkit-transform: translate(700%,150%);
  -o-transform: translate(700%,150%);
}

.quick-right-7.quick-transition-enter {
  transform: translate(-700%,150%);
  -ms-transform: translate(-700%,150%);
  -moz-transform: translate(-700%,150%);
  -webkit-transform: translate(-700%,150%);
  -o-transform: translate(-700%,150%);
}

.quick-left-8.quick-transition-enter {
  transform: translate(800%,150%);
  -ms-transform: translate(800%,150%);
  -moz-transform: translate(800%,150%);
  -webkit-transform: translate(800%,150%);
  -o-transform: translate(800%,150%);
}

.quick-right-8.quick-transition-enter {
  transform: translate(-800%,150%);
  -ms-transform: translate(-800%,150%);
  -moz-transform: translate(-800%,150%);
  -webkit-transform: translate(-800%,150%);
  -o-transform: translate(-800%,150%);
}

.quick-left-9.quick-transition-enter {
  transform: translate(900%,150%);
  -ms-transform: translate(900%,150%);
  -moz-transform: translate(900%,150%);
  -webkit-transform: translate(900%,150%);
  -o-transform: translate(900%,150%);
}

.quick-right-9.quick-transition-enter {
  transform: translate(-900%,150%);
  -ms-transform: translate(-900%,150%);
  -moz-transform: translate(-900%,150%);
  -webkit-transform: translate(-900%,150%);
  -o-transform: translate(-900%,150%);
}

.quick-left-10.quick-transition-enter {
  transform: translate(1000%,150%);
  -ms-transform: translate(1000%,150%);
  -moz-transform: translate(1000%,150%);
  -webkit-transform: translate(1000%,150%);
  -o-transform: translate(1000%,150%);
}

.quick-right-10.quick-transition-enter {
  transform: translate(-1000%,150%);
  -ms-transform: translate(-1000%,150%);
  -moz-transform: translate(-1000%,150%);
  -webkit-transform: translate(-1000%,150%);
  -o-transform: translate(-1000%,150%);
}

.left-swapped-low.quick-transition-enter-active, .left-swapped-prior-pivot.quick-transition-enter-active, .left-swapped-unsorted.quick-transition-enter-active, .right-swapped-high.quick-transition-enter-active, .right-swapped-prior-pivot.quick-transition-enter-active, .right-swapped-unsorted.quick-transition-enter-active, .right-swapped-pivot.quick-transition-enter-active, .right-swapped-sorted.quick-transition-enter-active {
  transform: translate(0,0);
  -ms-transform: translate(0, 0);
  -moz-transform: translate(0, 0);
  -webkit-transform: translate(0, 0);
  -o-transform: translate(0, 0);
}

.left-swapped-low.quick-transition-enter-active, .left-swapped-low.quick-transition-enter {
  background-color: orange;
}

.left-swapped-prior-pivot.quick-transition-enter-active, .right-swapped-prior-pivot.quick-transition-enter-active, .right-swapped-sorted.quick-transition-enter-active, .left-swapped-prior-pivot.quick-transition-enter, .right-swapped-prior-pivot.quick-transition-enter, .right-swapped-sorted.quick-transition-enter {
  background-color: #00cc00;
}

.left-swapped-unsorted.quick-transition-enter-active, .left-swapped-unsorted.quick-transition-enter {
  background-color: blue;
}

.right-swapped-high.quick-transition-enter-active, .right-swapped-high.quick-transition-enter {
  background-color: #800080;
}

.right-swapped-unsorted.quick-transition-enter-active, .right-swapped-unsorted.quick-transition-enter {
  background-color: grey;
}

.right-swapped-pivot.quick-transition-enter-active, .right-swapped-pivot.quick-transition-enter {
  background-color: black;
  border: 0.3em solid yellow;
}
